.emviqLabel {
    border: 0px;
    display: inline-block;

    color: #FFF;
    text-shadow: 0 0 5px black;

    /*line-height: 18px;*/
    text-align: right;
    vertical-align: middle;
/*
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
*/
    padding: 5px;
    margin: 1px;

    outline: none;
}

.emviqPeriod {
    display: inline-block;
    font-size: large;

    /*padding: 10px;*/

    color: #FFF;
    text-shadow: 0 0 15px black;
    
    text-align: center;
    vertical-align: middle;
/*
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
*/  
    margin-bottom: -5px;
    pointer-events: none;
}

.emviqTimeline {
    width: 100%;
    display: block;
    margin: auto;

    padding: 10px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    -webkit-overflow-scrolling: touch;
}

.emviqPeriodSelected {
    border-top: 5px solid white !important;

    opacity: 1 !important;
    box-shadow: 0 0px 10px rgba(0,0,0, 0.7) !important;
    /*font-size: larger !important;*/
/*
    filter: none !important;
    -webkit-filter: none !important;
*/
    backdrop-filter: blur(6px);
}

.emviqPeriodSelector {
    color: #FFF;
    text-shadow: 0 0 10px black;

    border-top: 1px solid white;

    font-size: small;
    font-weight: bold;
    display: inline-block;

    border-radius: 2px;

    padding: 0.7em;
    padding-left: 1.1em;
    padding-right: 1.1em;

    margin: 0px;

    min-height: 20px;
    line-height: 20px;
    
    text-align: center;
    vertical-align: middle;

    background-color: rgba(0, 0, 0, 0.4);
    
    cursor: pointer;

    text-decoration: none;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    backdrop-filter: blur(6px);
    opacity: 0.5;
}

.emviqPeriodSelector:hover {
    /*box-shadow: 0 0px 10px rgba(255, 255, 255, 1.0);*/
    opacity: 1;

    /*
    filter: none;
    -webkit-filter: none;
    */
    backdrop-filter: blur(6px);
}

.emviqProxyHighlight {
    position: absolute;

    right: 0px;
    top: 0px;

    padding: 5px;

    height: 40px;
/*
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
*/
}

.emviqSearchBox {
    pointer-events: all;
    display: inline-block;
 
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1px;
}

/*
.emviqSearchMatches {
    margin: 0px;
    padding: 5px;
    display: inline-block;

    cursor: pointer;
    color: #FFF;

    text-align: center;
    vertical-align: middle;

    width: 45px;
    height: 45px;

    background-color: black;
    border-radius: 50%;
}
*/


input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    height: 10px;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
}


table {
    color: #FFF;
    margin: 20px;

    width: 100%;

    margin-left:auto; 
    margin-right:auto;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

/*
    border-collapse: collapse;
    border: 1px solid white;
*/
}

/*
thead, tbody { 
    display: inline-block;
}
*/

th {
    padding: 10px;
    background-color: rgba(255,255,255, 0.2);
}

/*
tbody {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}
*/

tr {
    padding: 10px;
    background-color: rgba(0,0,0, 0.2);
    cursor: pointer;
}

tr:hover {
    background-color: rgba(255,255,255, 0.2);
}